<%- include('../partials/header') %> 

    <title><%= product.name %> </title>
</head>
<body>
    <h1><%= product.name %></h1>
    <p>This is the page for the product:  <%= product.name %> <br>
    Here are its properties: <br>
   <b>Price: </b><%= product.price %> <br>
   <b>Category: </b><%= product.category %> </p>
   <br>
   <p><a href="/products">GO BACK HOME</a><br>
    Something wrong with my data? <a href="/products/<%= product._id %>/edit"> UPDATE ME HERE</a></p><br>
    <form action="/products/<%= product._id %>/delete?_method=DELETE" method="POST">
       <p>If you don't like me, you can DELETE ME</p>
       <button type="submit">Delete Product</button>
<%- include('../partials/footer') %> 