<%- include('../partials/header') %> 

    <title><%= product.name %> </title>
</head>
<body>
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
    <h1><%= product.name %></h1>
    <p>This is the page for the product:  <%= product.name %> <br>
    Here are its properties: <br>
   <b>Price: </b><%= product.price %> <br>
   <b>Category: </b><span class="ui label"><a href="/products?category=<%= product.category %>"><%= product.category %></a></span></p>
   <br>
    Something wrong with my data? <a href="/products/<%= product._id %>/edit"><button class="ui blue button">Edit the Product</button></a></p><br>
    <form action="/products/<%= product._id %>/delete?_method=DELETE" method="POST">
       <button type="submit"class="ui red button">Delete Product</button>
    </form><br>
    <a href="/products"><button class="tiny ui blue button">Go back home</button></a>
</div>
</div>
<%- include('../partials/footer') %> 